body {
  background: #98bff6;
}

@keyframes rotate-redius_1 {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(210deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

@keyframes rotate-redius_2 {
  0% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

.demo {
  width: 120px;
  height: 120px;
  float: left;
}

.demo_1 {
  position: relative;
}

.demo_1:hover .redius_1_1 {
  animation: rotate-redius_1 2s linear infinite;
  -webkit-animation: rotate-redius_1 2s linear infinite;
}

.demo_1:hover .redius_1_2 {
  animation: rotate-redius_2 1s linear infinite;
  -webkit-animation: rotate-redius_2 1s linear infinite;
}

.demo_1 .redius_1_1 {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid #fff;
  border-radius: 100%;
  border-bottom-color: transparent;
  border-top-color: transparent;
  transform: rotate(30deg);
}

.demo_1 .redius_1_2 {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 16px;
  left: 16px;
  border: 4px solid #fff;
  border-radius: 100%;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 100%;
  transform: rotate(-30deg);
}

@keyframes rotate_2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.demo_2:hover .redius_2_1 {
  animation: rotate_2 1s linear infinite;
  -webkit-animation: rotate_2 1s linear infinite;
}

.demo_2 .redius_2_1 {
  width: 64px;
  height: 64px;
  border: 4px solid #fff;
  border-radius: 100%;
  border-right-color: transparent;
}

@keyframes rotate_3 {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

.demo_3:hover .pacman_1 {
  animation: rotate_3 1s linear infinite;
  -webkit-animation: rotate_3 1s linear infinite;
}

.demo_3 .pacman_box {
  position: relative;
}

.demo_3 .pacman_box .pacman_1 {
  width: 0;
  height: 0;
  border-radius: 100%;
  border: 32px solid #fff;
  border-right-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.demo_3 .pacman_box .pacman_2 {
  width: 0;
  height: 0;
  border-radius: 100%;
  border: 32px solid #fff;
  border-right-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
